
// Body
// $body-bg: #f5f8fa;
// body{
//   background: blue !important;
// }

 @font-face {
     font-family: microgrammanormal;
     src: url('/font/microgrammanormal');
   }

   logo {
         line-height: 0px;
         position: fixed;
         float: left;
         margin: 16px 46px;
         color: #fff;
         font-weight: bold;
         font-size: 20px;
         letter-spacing: 2px;
   }
